include head.pug
include navbar.pug

div.text-center
  div.bg-primary
    h1.color-white.py-sm-10.font-size-6 Recruter votre équipe Tech n'a jamais été aussi facile !
div.text-center
  button.btn-reverse-primary.my-sm-5.btn-radius-8.px-sm-11.py-sm-5 Nous contacter
  img.d-block.my-sm-10.ml-sm-6(src='./images/undraw_unexpected_friends_tg6k.svg' width="80%" alt='HD-entreprise-BG')
  h1.color-primary.font-size-7 Creanetis
  h1.color-secondary.font-size-6.mx-sm-3 recrute pour vous les meilleurs profils tech.
  p.color-third.ml-sm-4.my-sm-4.font-size-3.mx-sm-3  Grâce à notre processus de recrutement spécialisé, nous vous proposons uniquement des profils qui correspondent parfaitement à vos besoins.
  div.text-center
  div.bg-primary.py-sm-10.mt-sm-10.mb-sm-15
    h1.color-white.py-sm-6.font-size-6 Un process en 4 étapes clés !
    p.color-white.my-sm-4.font-size-3.mx-sm-3 Identifications des profils, entretien RH, entretien technique, synthèse mail des talents sélectionnés pour vous.
  h1.color-secondary.font-size-6.mx-sm-3 Une agence conseil à votre écoute
  p.color-primary.my-sm-4.font-size-3.mx-sm-3 On vous accompagne tout au long de l'intégration des nouvelles recrues dans vos équipes.
  button.btn-reverse-primary.my-sm-10.btn-radius-8.px-sm-11.py-sm-5 Nous contacter
  include footer.pug


//- include footer.pug
//- margin left
//- padding
//- width
//- text
//- 
//- my(-xs)-5
//- text-center
//- text-left
//- text-lg-left
