include head.pug
include navbar.pug

img.d-lg-block.header-lg.left-0.d-sm-none(src='./images/HD-entreprise-BG.svg' width="80%" alt='HD-entreprise-BG')
div.text-center
  div.bg-primary.d-lg-none
    h1.color-white.py-sm-2.font-size-6.d-lg-none Recruter votre équipe Tech n'a jamais été aussi facile !
div.text-center
  button.btn-reverse-primary.my-sm-1.btn-radius-8.px-sm-11.py-sm-5.d-lg-none Nous contacter
  img.d-block.my-sm-10.ml-sm-6.d-lg-none(src='./images/undraw_unexpected_friends_tg6k.svg' width="80%" alt='HD-entreprise-BG')
  h1.color-primary.font-size-7.d-lg-none Creanetis
  h1.color-secondary.font-size-6.d-lg-none recrute pour vous les meilleurs profils tech.
  p.color-third.ml-sm-4.my-sm-4.font-size-3.mx-sm-1.d-lg-none  Grâce à notre processus de recrutement spécialisé, nous vous proposons uniquement des profils qui correspondent parfaitement à vos besoins.
  div.text-center
  div.bg-primary.py-sm-10.mt-sm-10.mb-sm-15.d-lg-none
    h1.color-white.py-sm-6.font-size-6.d-lg-none Un process en 4 étapes clés !
    p.color-white.my-sm-4.font-size-3.mx-sm-1.d-lg-none Identifications des profils, entretien RH, entretien technique, synthèse mail des talents sélectionnés pour vous.
  h1.color-secondary.font-size-6.mx-sm-1.d-lg-none Une agence conseil à votre écoute
  p.color-primary.my-sm-4.font-size-3.mx-sm-1.d-lg-none On vous accompagne tout au long de l'intégration des nouvelles recrues dans vos équipes.
  button.btn-reverse-primary.my-sm-10.btn-radius-8.px-sm-11.py-sm-5.d-lg-none Nous contacter
  include footer.pug
  include head.pug

//- include footer.pug
//- margin left
//- padding
//- width
//- text
//- 
//- my(-xs)-5
//- text-center
//- text-left
//- text-lg-left
