include head.pug
.container-lg
    include navbar.pug
    .row.m-0.transform-center
        .col-12.text-xs-center.text-sm-center.my-sm-8.d-lg-inline-flex.justify-content-around
            img.width-lg-65(src='./images/undraw_page_not_found_su7k.svg' width='100%')
            .text-lg-left.width-md-50.mx-md-auto.width-lg-35.mx-lg-5
                h1.color-secondary.min-lg-width-max-content.font-size-6 OUPS !
                p.color-third La page que vous recherchez n'existe pas. Mais c'est pas grave, à la place on vous propose de consulter nos offres.
                p.color-third Sinon vous pouvez toujours cliquer sur notre joli logo pour revenir à l'accueil.
    include footer.pug
